# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Jupyter
ipynb/
.ipynb_checkpoints/

# Model files (old models ignored)
best.pt
best_2.pt
bestv5.pt
best_v3.pt
bestv8.pt
